<div id="{{ comment.id }}">
    <div class="comments">
        <div>
            <strong>{{ comment.name }}</strong>
            {% if comment.parent.name %} to <strong>{{ comment.parent.name }}</strong>{% endif %}
            <small>On {{ comment.created.date }}</small>
          </div><br>
          <div>
              <!-- urlize converts any links to become clickable -->
            <span class="styleLinks"><p>{{comment.body|urlize|linebreaksbr}}</p></span>
            <button onclick="handleReply({{ comment.id }})" id="replyBtn" aria-label="reply"><i class="fa-solid fa-reply"></i></button>
            <div class='replyforms' id="replyFormContainer{{ comment.id }}"  style="display: none">
              <form method="post" action="{% url 'blog:reply' %}" id="form1">
                <div id="commentForm">
                  {% csrf_token %}
                  <input type="hidden" name="post_id" value="{{ post.id }}" />
                  <input type="hidden" name="parent" value="{{ comment.id }}" />
                  <input
                    type="hidden"
                    name="post_url"
                    value="{{ post.get_absolute_url }}"
                  />
                  <div class="commentFormDiv">
                    {% for field in comment_form %} {{ field }} {% endfor %}
                  </div>
                  <div class="commentFormDivSubmitButton">
                    <button type="submit" class="submitbtn" aria-label="send"><i class="fa-solid fa-paper-plane"></i></button> <br />
                    <button
                      type="button"
                      onclick="handleCancel({{ comment.id }})"
                      class="cancelbtn" aria-label="cancel"
                      style="padding-left: 13px; padding-right: 13px;">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <br />
                  </div>
                </div>
                <small >Its anonymous by default - even rage can't trace you 😉</small>
              </form>
            </div>
          </div>
    </div>
  {% for comment in comment.get_comments %} 
  {% include 'reply.html' with comment=comment %} 
  {% endfor %}
</div>
